body {
    margin: 0;
    background-position: center 0;
    background-repeat: no-repeat;
    background-image: url("../img/background.jpg");
    background-size: cover;
}

#download.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
}

#download {
    text-decoration: none;
}

form > div {
    display: none;
}

form > div.form-show {
    display: inherit;
}
